In [2]:
import pandas as pd

data = {
    "Employee id": [10, 20, 15, 25, 30],
    "Gender": ["M", "F", "F", "M", "F"],
    "Remarks": ["Good", "Nice", "Good", "Great", "Nice"],
}

df = pd.DataFrame(data)
df

   Employee id Gender Remarks
0           10      M    Good
1           20      F    Nice
2           15      F    Good
3           25      M   Great
4           30      F    Nice

### One-Hot Encoding with sklearn

 - Use sklearn `OneHotEncoder()` class to create fingerprints for the columns `Gender` and `Remarks` in `df`

Hints:
-  `from sklearn.preprocessing import OneHotEncoder`

In [9]:
from sklearn.preprocessing import OneHotEncoder

enc = OneHotEncoder()
res = enc.fit_transform(df[["Gender", "Remarks"]])
print(enc.categories_)
res.toarray()

[array(['F', 'M'], dtype=object), array(['Good', 'Great', 'Nice'], dtype=object)]

array([[0., 1., 1., 0., 0.],
       [1., 0., 0., 0., 1.],
       [1., 0., 1., 0., 0.],
       [0., 1., 0., 1., 0.],
       [1., 0., 0., 0., 1.]])

### One-Hot Encoding with pandas

 - Use the `pandas.get_dummies` function to create one-hot fingerprints for the target labels
 - Use the dataframe `df_blob` and write the fingerprints to the column `fps_pandas` of `df_blob` 

Hints:
-  See https://pandas.pydata.org/docs/reference/api/pandas.get_dummies.html